<a href="https://colab.research.google.com/github/sharmar8567-lab/python/blob/main/newpage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 print("hello world")
print("hy ritika")

hello world
hy ritika

In [ ]:
print("Bio Data:....")

print(" Name     : ritika sharma")
print("Father's Name     :pradeep kumar")
print("Mother's Name     : sulekha sharma")
print("Date of birth     : 5/10/2004")
print("permanent address : himachal pradesh")
print("Religion          :Hindu")
print("Education         :bachelor's degree in computer science")
Name="ritika"
print("name:",Name)

Bio Data:....
 Name     : ritika sharma
Father's Name     :pradeep kumar
Mother's Name     : sulekha sharma
Date of birth     : 5/10/2004
permanent address : himachal pradesh
Religion          :Hindu
Education         :bachelor's degree in computer science
name: ritika

In [ ]:
gender = "female"
age =35
if gender =="male":
  print("hotel A")
  if age>=30:
   print("go to building 1")
  else:
    print("go to building 2")

else:
  print("hotel B")
  if age <35:
    print("go to building 1")
  else:
      print("go to building 2")

hotel B
go to building 2

In [ ]:
name= input("enter you name:")
age = int(input("enter you age:"))
father_name =input("enter you name:")

enter you name:ritika
enter you age:21
enter you name:pradeep kumar

In [ ]:
item1="snacks"
price_of_item1=100
item2="cake"
price_of_item2=400
item3="momos"
price_of_item3=80
total_price=price_of_item1+price_of_item2+price_of_item3
print(total_price)


item1=input("enter name of item1:")
price=int(input("enter price:"))

580
enter name of item1:momo
enter price:40

In [ ]:
a=10
b=60
c=a+b
print("sum of two number:",a+b)
print(f"sum is {a+b}")
print(f"subtract is {a-b}")
number1=int(input("enter number:"))
number2=int(input("enter number:"))
sum=number1+number2
print(sum)

sum of two number: 70
sum is 70
subtract is -50
enter number:8

In [ ]:
gender="male"
age=35
if gender=="male":
    if age>30:
     print("go to building1")
    else:
     print("go to building2")
    print("hotelA")
else:
  print("hotelB")
  if age<30:
    print("go to building1")
  else:
    print("go to building2")

go to building1
hotelA

In [ ]:
p=50000
r=5
t=2
si= p*r*t/100
 print(si)

5000.0

In [ ]:
p=5000
r=5
t=3
days=20
si_in_month=p*r*t/100
print(si_in_month)
month= days/30
si=p*r*month/100
print(si)
total_si=si_in_month+si
print(total_si)

750.0
166.66666666666663
916.6666666666666

In [ ]:
year=2028
if year%4==0 and year%100!=0 or year%400==0:
 print("leap year")
else:
  print("non leap year")

leap year

In [ ]:
number=int(input("enter number:"))
if number>=90:
 print(" grade a+")
elif number>70:
  print("b")
elif number>=50:
 print("c")
elif number>30:
 print("d")

else:
  print("weak")

enter number:89
b

In [ ]:
p=5000
r=5
t=20
days=15
month="june"
si=p*r*t/100
print(si)
if month=="jan" or month=="mar" or month=="may" or month=="july" or month=="aug" or month=="oct" or month=="dec":
 days_in_month=31
elif month=="april" or month=="june" or month=="sep" or month=="nov":
 days_in_month=30
else:
  days_in_month=28
total_month=days/days_in_month
si_in_month=p*r*total_month/100
print(si_in_month)
total_si=si+si_in_month

5000.0
125.0

In [ ]:

dir=input("enter direction:")
if dir=="si":
  print("close: WI,NI,EI")
elif dir=="wi":
    print("close:SI,EI,NI")
elif dir=="ni":
    print("close:SI,EI,WI")
else:
      print("close:SI,WI,NI")
print("OPEN DIRECTION:EO,NO,SO,WO")

enter direction:ei
close:SI,WI,NI
OPEN DIRECTION:EO,NO,SO,WO

In [ ]:
for i in range(10):
 print("hello ")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(5,34,4):
  print(i)

5
9
13
17
21
25
29
33

In [ ]:
for i in range(2,33,6):
  print(i)

2
8
14
20
26
32

In [ ]:
for i in range(3,72,17):
  print(i)

3
20
37
54
71

In [ ]:
for i in range(1,21):
 if i%2!=0:
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
sum=0
for i in range(1,11):
  sum =sum+i
print(sum)

55

In [ ]:
sum=0
for i in range(1,101):
  sum=sum+i
print(sum)

5050

In [ ]:
sum=0
for i in range (1,100,2):
 sum=sum+i
print(sum)

2500

In [ ]:
sum=0
for i in range(2,101,2):
  sum=sum+i
print(sum)

2550

In [ ]:
sum=0
for i in range(2,19,4):
  sum=sum+i
print(sum)

50

In [ ]:
sum=0
for i in range(8,24,3):
  sum=sum+i
print(sum)

93

In [ ]:
multiply=1
for i in range(1,6):
 multiply=multiply*i
print(multiply)

120

In [ ]:
n=7
fact=1
for i in range(1,n+1):
  fact=fact*i
print(f"factorial of {n} is : ,{fact}")

factorial of 7 is : ,5040

In [ ]:

fact=1
sum=0
for i in range(1,6):
 fact=fact*i
 sum=sum+fact
 print(sum)

1
3
9
33
153

In [ ]:

for i in range(2,31,2):
  sum=sum+i
  print(i)

fact=1
for i in range(1,6):
  fact=fact*1
print(i)

sum=sum+fact
print(sum)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
5
1115

In [ ]:
n=8
fact=1
for i in range(1,n+1):
 fact=fact*i
 print(f" factorial number {n} is:,{fact}")

 factorial number 8 is:,1
 factorial number 8 is:,2
 factorial number 8 is:,6
 factorial number 8 is:,24
 factorial number 8 is:,120
 factorial number 8 is:,720
 factorial number 8 is:,5040
 factorial number 8 is:,40320

In [ ]:
n=20
fact=1
for i in range(1,n+1):
 fact=fact*i
print(f":factorial number is {n}:{fact}")

:factorial number is 20:2432902008176640000

In [ ]:
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
print(f"factorial number is{n}:{fact}")

sum=0
n=19
for i in range(18,n):
  sum=sum+i
print(sum)

total=fact+sum
print("fact and sum of number is:",total)

factorial number is5:120
18
fact and sum of number is: 138

In [ ]:
sum=0
n=19
for i in range(18,n):
    sum=sum+i
print(sum)

18

In [ ]:
sum=0
n=6
for i in range(5,n+1):
  sum=sum+i
print(sum)

fact=1
n=15
for i in range(10,n+1):
  fact=fact*i
print(fact)

sum=sum+fact
print(sum)

11
3603600
3603611

In [ ]:
fact=1
n=20
for i in range(15,n+1):
  fact=fact*i
print(fact)

sum=0
n=10
for i in range(10,n+1):
   sum=sum+i
print(sum)

total=fact-sum
print(total)

27907200
10
27907190

In [ ]:
sum=0
for i in range(10,21,2):
 if i%2==0:
  sum=sum+i
print(sum)

multiply=1
n=4
for i in range(3,n+1):
  multiply=multiply*i
print(multiply)

fact=1
n=20
for i in range(15,n+1):
  fact=fact*i
print(fact)

total=fact-multiply+sum
print(total)

90
12
27907200
27907278

In [ ]:
multiply=1
n=3
for i in range(3,n+3):
 multiply=multiply*i
print(multiply)

60

In [ ]:
fact=1
n=3
for i in range(1,n+1):
  fact=fact*i
print(fact)
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)
fact=1
for i in range(1,2):
 fact=fact*i
 print(fact)
sum=0
sum=sum+fact
print(sum)

6
120
1
1

In [ ]:
fact=1
sum=0
for i in range(1,6):
  fact=fact*i
  if i%2!=0:
   sum=sum+fact
print(sum)

127

In [ ]:
sum=0
for i in range(1,6,2):
 fact=1

 for j in range(1,i+1):
   fact=fact*j
 sum=sum+fact
print(sum)

127

In [ ]:
fact=1
sum=0
for i in range(2,7):
  fact=fact*i
  if i%2==0:
   sum=sum+fact
print(sum)

746

In [ ]:
sum=0
for i in range(2,7,2):
  fact=1
  for j in range(2,i+1):
    fact=fact*j
  sum=sum+fact
print(sum)

746

In [ ]:
 a=20
 b=50
 for i in range(1,a+1):
  if a%i==0 and b%i==0:
    hcf=i
    LCM=a*b/hcf
 print(hcf)
 print(LCM)

10
100.0

In [ ]:
a=961
b=403
for i in range(1,a+1):
  if a%i==0 and b%i==0:
    hcf=i
    LCM=a*b/hcf
print(hcf)
print(LCM)

31
12493.0

In [ ]:
a=20
b=50
for i in range(50,1001):
  if i%a==0 and i%b==0:
    lcm=i
    print(lcm)
    break;

100

In [ ]:
for i in range(1,11):
  if i==10:
   print(i)
   break;

10

In [ ]:
for i in range(1,10):
  if i==10:
    continue;
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,101):
  if i%5==0:
   print(f"number is divisible {num}:{i}")

number is divisible 22:5
number is divisible 22:10
number is divisible 22:15
number is divisible 22:20
number is divisible 22:25
number is divisible 22:30
number is divisible 22:35
number is divisible 22:40
number is divisible 22:45
number is divisible 22:50
number is divisible 22:55
number is divisible 22:60
number is divisible 22:65
number is divisible 22:70
number is divisible 22:75
number is divisible 22:80
number is divisible 22:85
number is divisible 22:90
number is divisible 22:95
number is divisible 22:100

In [ ]:
num=23
is_prime=True
for i in range(2,num):
   if num%i==0:
    is_prime=False
    break;

if is_prime:
    print("23 is prime number")
else:
    print("23 is not a prime number")

23 is prime number

In [ ]:
num=23
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break;
else:
 print("prime number")

prime number

In [ ]:
for i in range(1,101):
  for j in range(2,i):
    if i%j==0:
      break;

  else:
    print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
num=225
x=int(num**0.5)+1
for i in range(2,x):
  if num%i==0:
    print("not prime")
    break

else:
  print("prime")

not prime

In [ ]:
num=10
while num>0:
  print(num)
  num=num-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
num=2
while num<=20:
  print(num)
  num=num+2

2
4
6
8
10
12
14
16
18
20

In [ ]:

sum=0
num=1
while num<=100:
  sum=sum+num
  num=num+1
print(sum)

5050

In [ ]:
num=1
sum=0
while num<=200:
  sum=sum+num
  num=num+7
print(sum)

2871

In [ ]:
sum=0
num=5678
while num>0:
 digit=num%10
 num=num//10
 sum=sum+digit
 print(digit)
print(sum)

8
7
6
5
26

In [ ]:
rev=0
sum=0
num=5678
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
  sum=sum+digit
  print(digit)
print(sum)
print(rev)

8
7
6
5
26
8765

In [ ]:
num=22
x=int(num**0.5)+1
for i in range(2,x):
  if num%i==0:
   print("no prime")
   break
else:
  print("prime")

no prime

In [ ]:
num=1
sum=0
while num<=200:
  sum=sum+num
  num=num+1
print(sum)

20100

In [ ]:
num=189
is_prime=True
for i in range(2,num):
  if num%i==0:
    is_prime=False
    break

if is_prime:
  print("prime no")
else:
    print("no prime")

no prime

In [ ]:
num=33
sum=0
while num<=63:
  num=num+4
print(num)
sum=sum+num
print(sum)

65
65

In [ ]:
n=10
for i in range(1,n+1):
  if i==9:
   break
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
n=20
for i in range(2,n+1):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
n=10
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

55

In [ ]:
sum=0
rev=0
num=5678
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
  sum=sum+digit
  print(digit)
print(sum)
print(rev)

8
7
6
5
26
8765

In [ ]:
sum=0
num=5678
rev=0
while num>0:
   digit=num%10
   num=num//10
   sum=sum+digit
   print(digit)
print(sum)

8
7
6
5
26

In [ ]:
num=10
sum=0
for i in range(1,11):
  n=i*i
  print(n)
  sum=sum+n
print(sum)

1
4
9
16
25
36
49
64
81
100
385

In [ ]:
sum=0
num=1
while num<11:
 sum=sum+num*num
 num=num+1
print(sum)

385

In [ ]:
num=13
sum=0
for i in range(1,14,4):
  product=i*i
  sum=sum+product
print(sum)

276

In [ ]:
num=1
sum=0
while num<14:
  sum=sum+num*num
  num=num+4
print(sum)

276

In [ ]:
n=9
sum=0
for i in range(1,10):
  sqrt=i**0.5
  sum=sum+sqrt
print(sum)

19.30600052603572

In [ ]:
num=1
sum=0
while num<10:
  sum=sum+num**0.5
  num=num+1
print(sum)

19.30600052603572

In [ ]:
num=5
sum=0
for i in range(1,6):
  sum=sum+i
print(sum)
num=23
sum=0
for i in range(19,24):
  sum=sum+i
print(sum)

total=sum+sum
print(total)

15
105
210

In [ ]:
count=0
sum=0
num=99
for i in range(2,100,3):
  sum=sum+i
  count=count+1
print("number of terms:",count)
print(sum)

number of terms: 33
1650

In [8]:
a="abc"
print(len(a))

3

In [12]:
a="abc"
print(a.replace("c","d"))
print(a[2])="e"

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (ipython-input-1100369216.py, line 3)

In [28]:
a="abc"
a.startswith("a")
a.endswith("c")
a.strip()

'abc'

In [26]:
a="abc"
if a[0]=="a":
  print("true")
else:
    print("false")

true

In [30]:
name="   sejal sharma   "
print(name.strip())

sejal sharma

In [35]:
rev=" "
name="ritika"
for i in name:
  rev=i+rev
print(rev)

akitir

In [36]:
name="user"
if "u"in name:
  print("yes")
else:
    print("no")

yes

In [38]:
name="ritika sharma"
print (name)

ritika sharma

In [43]:
name="SHarmaji"
print(name.lower())
print(name.isalpha())
print(name.isdigit())
name="ritikasharma"
print(name.upper())

sharmaji
True
False
RITIKASHARMA