<a href="https://colab.research.google.com/github/sharmar8567-lab/python/blob/main/newpage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("hy ritika")

hello world
hy ritika

In [ ]:
print("Bio Data:....")

print(" Name     : ritika sharma")
print("Father's Name     :pradeep kumar")
print("Mother's Name     : sulekha sharma")
print("Date of birth     : 5/10/2004")
print("permanent address : himachal pradesh")
print("Religion          :Hindu")
print("Education         :bachelor's degree in computer science")
Name="ritika"
print("name:",Name)

Bio Data:....
 Name     : ritika sharma
Father's Name     :pradeep kumar
Mother's Name     : sulekha sharma
Date of birth     : 5/10/2004
permanent address : himachal pradesh
Religion          :Hindu
Education         :bachelor's degree in computer science
name: ritika

In [ ]:
gender = "female"
age =35
if gender =="male":
  print("hotel A")
  if age>=30:
   print("go to building 1")
  else:
    print("go to building 2")

else:
  print("hotel B")
  if age <35:
    print("go to building 1")
  else:
      print("go to building 2")

hotel B
go to building 2

In [ ]:
name= input("enter you name:")
age = int(input("enter you age:"))
father_name =input("enter you name:")

enter you name:ritika
enter you age:21
enter you name:pradeep kumar

In [ ]:
item1="snacks"
price_of_item1=100
item2="cake"
price_of_item2=400
item3="momos"
price_of_item3=80
total_price=price_of_item1+price_of_item2+price_of_item3
print(total_price)


item1=input("enter name of item1:")
price=int(input("enter price:"))

580
enter name of item1:momo
enter price:40

In [ ]:
a=10
b=60
c=a+b
print("sum of two number:",a+b)
print(f"sum is {a+b}")
print(f"subtract is {a-b}")
number1=int(input("enter number:"))
number2=int(input("enter number:"))
sum=number1+number2
print(sum)

sum of two number: 70
sum is 70
subtract is -50
enter number:8

In [ ]:
gender="male"
age=35
if gender=="male":
    if age>30:
     print("go to building1")
    else:
     print("go to building2")
    print("hotelA")
else:
  print("hotelB")
  if age<30:
    print("go to building1")
  else:
    print("go to building2")

go to building1
hotelA

In [ ]:
p=50000
r=5
t=2
si= p*r*t/100
 print(si)

5000.0

In [ ]:
p=5000
r=5
t=3
days=20
si_in_month=p*r*t/100
print(si_in_month)
month= days/30
si=p*r*month/100
print(si)
total_si=si_in_month+si
print(total_si)

750.0
166.66666666666663
916.6666666666666

In [ ]:
year=2028
if year%4==0 and year%100!=0 or year%400==0:
 print("leap year")
else:
  print("non leap year")

leap year

In [ ]:
number=int(input("enter number:"))
if number>=90:
 print(" grade a+")
elif number>70:
  print("b")
elif number>=50:
 print("c")
elif number>30:
 print("d")

else:
  print("weak")

enter number:89
b

In [ ]:
p=5000
r=5
t=20
days=15
month="june"
si=p*r*t/100
print(si)
if month=="jan" or month=="mar" or month=="may" or month=="july" or month=="aug" or month=="oct" or month=="dec":
 days_in_month=31
elif month=="april" or month=="june" or month=="sep" or month=="nov":
 days_in_month=30
else:
  days_in_month=28
total_month=days/days_in_month
si_in_month=p*r*total_month/100
print(si_in_month)
total_si=si+si_in_month

5000.0
125.0

In [ ]:

dir=input("enter direction:")
if dir=="si":
  print("close: WI,NI,EI")
elif dir=="wi":
    print("close:SI,EI,NI")
elif dir=="ni":
    print("close:SI,EI,WI")
else:
      print("close:SI,WI,NI")
print("OPEN DIRECTION:EO,NO,SO,WO")

enter direction:ei
close:SI,WI,NI
OPEN DIRECTION:EO,NO,SO,WO