<a href="https://colab.research.google.com/github/sharmar8567-lab/python/blob/main/newpage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("hy ritika")

hello world
hy ritika

In [ ]:
print("Bio Data:....")

print(" Name     : ritika sharma")
print("Father's Name     :pradeep kumar")
print("Mother's Name     : sulekha sharma")
print("Date of birth     : 5/10/2004")
print("permanent address : himachal pradesh")
print("Religion          :Hindu")
print("Education         :bachelor's degree in computer science")
Name="ritika"
print("name:",Name)

Bio Data:....
 Name     : ritika sharma
Father's Name     :pradeep kumar
Mother's Name     : sulekha sharma
Date of birth     : 5/10/2004
permanent address : himachal pradesh
Religion          :Hindu
Education         :bachelor's degree in computer science
name: ritika

In [14]:
gender = "male"
age =35
if gender =="male":
  print("hotel A")
  if age>=30:
   print("go to building 1")
  else:
    print("go to building 2")

else:
  print("hotel B")
  if age <35:
    print("go to building 1")
  else:
      print("go to building 2")

hotel A
go to building 1

In [8]:
name= input("enter you name:")
age = int(input("enter you age:"))
father_name =input("enter you name:")

enter you name:ritika
enter you age:21
enter you name:pradeep kumar

In [7]:
item1="snacks"
price_of_item1=100
item2="cake"
price_of_item2=400
item3="momos"
price_of_item3=80
total_price=price_of_item1+price_of_item2+price_of_item3
print(total_price)


item1=input("enter name of item1:")
price=int(input("enter price:"))

580
enter name of item1:kurkure
enter price:20

In [13]:
a=10
b=60
c=a+b
print("sum of two number:",a+b)
print(f"sum is {a+b}")
print(f"subtract is {a-b}")
number1=int(input("enter number:"))
number2=int(input("enter number:"))
sum=number1+number2
print(sum)

sum of two number: 70
sum is 70
subtract is -50
enter number:40
enter number:38
78